version: "3.9"

services:
  api:
    build: .
    ports:
      - "8000:8000"
    env_file:
      - .env
    environment:
      - APP_NAME=content_tool
      - APP_ENV=development
      - APP_DEBUG=true
    volumes:
      - .:/app
  